/* Main CSS file */
nav {
    margin-bottom: 32px;
}

#banner {
    height: 768px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.caption {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.content { 
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content p {
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 200%;
}

.content h2 {
    border-bottom: 1px solid gray;
    text-align: center;
}

.content-2 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
}

.content-2 h2 {
    border-bottom: 1px solid gray;
}

.content-2 h4 {
    border-bottom: 1px solid gray;
}

.project{ 
    margin-left: 64px;
    margin-right: 64px;
}

.project p {
    text-align: left;
    font-family: 'Raleway';
    font-size: 16px;
}

footer {
    background-color: #353942;
    color: white;
    padding: 64px 0 64px 0;
    margin-top: 100px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer ul li a {
    color: unset;
}